#title {
  color: red;
}

.description {
  color: blue;
}
.box1 {
  background-color: silver;
  width: 500px;
  height: 300px;
  float: inherit;
}

.box2 {
  background-color: black;
  width: 500px;
  height: 300px;
  float: inherit;
}